<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List </title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@45,400,1,200" />
</head>
<body>

   <div class="box" id="heading">  
      <h1 ><%=tempday%></h1>
    </div>
    
    <div class="box ">
        
        <% newListItems.forEach(function(item){ %>
          <div class="item">
              <input type="checkbox"> 
              <p><%= item.name%></p>
               
          </div>  
       <%})%> 

      <form  class="item" method ="post">
         <input type ="text" name="newItem" placeholder="New Task " autocomplete="off" required>
         <button type="submit"> + </button>
      </form>
     
</div>


</script>
</body>

</html>