<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List </title>
    <link rel="stylesheet" href="css/style.css"
</head>
<body>

    <!-- <% if(tempday === "Saturday" || tempday === "Sunday" ) { %>
        <h1 style="color:rgb(22, 130, 188)" > <%=tempday%> To Do List </h1> 
    <% } else { %>
        <h1 style="color:blue" > <%=tempday%> To Do List </h1> 
    <% } %> -->
<div class="box" id="heading">  <h1 ><%=tempday%></h1> </div>
   
   
    <div class="box ">
        
     <% for(let i=0;i<newListItems.length ;i++){ %>
         <div class="item">
            <input type="checkbox"> 
            <p><%=newListItems[i]%></p>  </div>
         
      <% }%>

   
    <form  class="item" method ="post">
        <input type ="text" name="newItem" placeholder="New Task " autocomplete="off">
        <button type="submit"> + </button>
    </form>
</div>
</body>

</html>